
/*---login----------------------------------------------------------------------*/
.login-container-background{
    width: 100%;  
    min-height: 100vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #291928, #41b3d0);
    background: -o-linear-gradient(-135deg, #291928, #41b3d0);
    background: -moz-linear-gradient(-135deg, #291928, #41b3d0);
    background: linear-gradient(-135deg, #291928, #41b3d0);
  }
  
  .login-main-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: white;
      padding-top: 150px;
      border-radius: 30px;
      padding-left: 200px;
      padding-right: 200px;
  }
  
  .login-content{
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;
      padding-left: 20px;
  }
  
  .login-input{
      border-radius: 20px;
      padding: 10px 20px;
      background-color: lightgray;
      border: 0px;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  .login-button{
      border: 0;
      border-radius: 20px;
      padding: 10px 20px;
      background: #9053c7;
      background: -webkit-linear-gradient(-135deg, #291928, #41b3d0);
      background: -o-linear-gradient(-135deg, #291928, #41b3d0);
      background: -moz-linear-gradient(-135deg, #291928, #41b3d0);
      background: linear-gradient(-135deg, #291928, #41b3d0);
      transition: 1s;
      text-transform: uppercase;
      text-align: center;
      outline: none;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      opacity: 0.8;
  }
  
  .login-button:hover {
      opacity: 1;
  }
  
  .login-create-account{
      text-decoration: none;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      padding-right: 10px;
      margin-top: 160px;
      padding-bottom: 20px;
  }
  
  .login-create-account:hover{
      color: -webkit-linear-gradient(-135deg, #291928, #41b3d0);
      color: -o-linear-gradient(-135deg, #291928, #41b3d0);
      transition: 0.5s;
  }
  
  .login-label{
      margin-top: 20px;
      font-weight: 600;
      font-size: 1.6rem;
      padding: 0 20px;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  /*------------------register------------------------*/
  
  .register-main-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: white;
      padding-top: 100px;
      padding-top: 50px;
      border-radius: 30px;
      padding-left: 200px;
      padding-right: 200px;
  }
  
  .register-create-account{
      text-decoration: none;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      padding-right: 10px;
      margin-top: 160px;
      padding-bottom: 20px;
  }
  
  @media screen and (max-width: 992px) {
      /*login - register ------------------------------*/
  
      .register-main-container{
          grid-template-columns: 1fr;
      }
  
      .login-main-container{
          grid-template-columns: 1fr;
      }
    }